<div class="dropdown" >
  <div class="text-dropdown">Skills</div>
  <img (click)="toggle()" class="down" id="skills-dropdown" src="assets/down.png"/>
</div>

<div [@openClose]="state ? 'open' : 'closed'">
<div class="skills">
  <div class="items">
    <div class="images">
      <img class="image" src="assets/java.png" />
      <img class="image" src="assets/figma.png" />
      <img class="image" src="assets/angular.png" />
      <img class="image" src="assets/postgres.png" />
    </div>
    <div class="skills_lv">
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div id="bar_1" class="bar_1" ></div>
      </div>
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div id="bar_2" class="bar_2"></div>
      </div>
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div id="bar_3" class="bar_3"></div>
      </div>
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div id="bar_4" class="bar_4"></div>
      </div>
    </div>
  </div>
</div>
</div>
