<div class="dropdown" >
  <div class="text-dropdown">Skills</div>
  <img (click)="toggle()" class="down" id="skills-dropdown" src="../assets/img/down.png"/>
</div>

<div [@openClose]="state ? 'open' : 'closed'">
<div class="skills">
  <div class="items">
    <div class="images">
      <img class="image" src="../assets/img/java.png" />
      <img class="image" src="../assets/img/figma.png" />
      <img class="image" src="../assets/img/angular.png" />
      <img class="image" src="../assets/img/postgres.png" />
    </div>
    <div class="skills_lv">
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div class="bar_1"></div>
      </div>
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div class="bar_2"></div>
      </div>
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div class="bar_3"></div>
      </div>
      <div class="skill_lv">
        <div class="base_bar"></div>
        <div class="bar_4"></div>
      </div>
    </div>
  </div>
</div>
</div>
