.education {
  display: flex;
  margin: auto;
}

.education .image {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 180px;
}

.education .texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.education .tittle {
  font-family: "Inria Sans-Regular", Helvetica;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  margin: 0px;
}

.education .period {
  font-family: "Inria Sans-Regular", Helvetica;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;

}

.education .subtittle {
  font-family: "Inria Sans-Regular", Helvetica;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  margin: 0px;

}

.education .text {
  width: 635px;
  height: 173px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
