.background {
  background: black;
}

.template {
  display: flex;
  margin: auto;
}

.dropdown {
  position: relative;
  display: flex;
  margin: 40px auto;
  margin-left: 80px;
}


.dropdown .down {
  top: 13px;
  left: 44px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease-in;
}

.dropdown .text-dropdown {
  width: 334px;
  top: 19px;
  left: 113px;
  font-family: "Tahoma", serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.items {
  margin: auto;
  display: inline;
  align-items: flex-end;
  gap: 100px;
}

.content {
  margin: auto;
  display: inline-flex;
  align-items: flex-end;
  gap: 100px;
}

.outer-indicator {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  gap: 43px;
  justify-content: center;
  margin-top: 28px;
}

.inner-indicator{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.image {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 180px;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: "Tahoma", serif;
  color: #f1f1f1;
  font-size: 36px;
  letter-spacing: 0;
  margin: 0px;
}

.subtitle {
  font-family: "Tahoma", serif;
  color: #f1f1f1;
  font-size: 22px;
  letter-spacing: 0;
  margin: 0px;
}

.text {
  color: #f1f1f1;
  font-family: "Tahoma", monospace;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  width: 635px;
  height: 173px;
}

.arrow {
  cursor: pointer;
}

.arrow:hover {
  border-radius: 16px;
  background: #361DD1;
}


