
<app-banner></app-banner>
<app-aboutme></app-aboutme>
<app-skills></app-skills>
<app-experience></app-experience>
<app-education></app-education>
<!--<app-dropdown title="About me" dropdownClass="aboutMe"></app-dropdown>-->
<!--<app-dropdown title="Skills" dropdownClass="skills"></app-dropdown>-->
<!--  <app-skills *ngIf="showSkills"></app-skills>-->

<!--  <app-dropdown title="Experience" (click)="showSectionExperience()"></app-dropdown>-->
<!--  <app-experience *ngIf="showExperience"></app-experience>-->

<!--  <app-dropdown title="Education" (click)="showSectionEducation()"></app-dropdown>-->
<!--  <app-education *ngIf="showEducation"></app-education>-->

<!--  <app-dropdown title="Certifications" (click)="showSectionCertifications()"></app-dropdown>-->
<!--  <app-certifications *ngIf="showCertifications"></app-certifications>-->

<!--  <app-dropdown title="Contact" (click)="showSectionContact()"></app-dropdown>-->
<!--  <app-contact *ngIf="showContact"></app-contact>-->


