.contact {
  display: flex;
  margin: auto;
}

.contact .items {
  position: relative;
  z-index: 1;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 100px;
}

.contact .image {
  width: 180px;
  height: 180px;
  border-radius: 180px;
}

.contact .texts {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.contact .title {
  width: 100%;
  height: 45px;
  margin-top: -1px;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .email {
  width: 635px;
  height: 87px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
