.frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.div {
  display: block;
  flex-direction: column;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.frame .rectangle {
  position: relative;
  width: 1280px;
  height: 560px;
  background-color: #000000;
}

.frame .image {
  position: absolute;
  width: 477px;
  height: 377px;
  top: 97px;
  left: 401px;
}

.frame .rectangle-2 {
  position: relative;
  width: 1280px;
  height: 134px;
  background-color: #000000;
}

.frame .text-wrapper {
  position: absolute;
  width: 334px;
  top: 19px;
  left: 113px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .down {
  top: 13px;
  left: 447px;
  position: absolute;
  width: 137px;
  height: 109px;
  object-fit: cover;
}

.frame .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 101px;
  position: absolute;
  top: 75px;
  left: 113px;
}

.frame .mask-group {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 180px;
}

.frame .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
  position: relative;
  flex: 0 0 auto;
}

.frame .p {
  position: relative;
  width: 431px;
  height: 45px;
  margin-top: -1px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .i-am-always-doing {
  position: relative;
  width: 635px;
  height: 337px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 175px;
  top: 19px;
  left: 113px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .img {
  top: 13px;
  left: 288px;
  position: absolute;
  width: 137px;
  height: 109px;
  object-fit: cover;
}

.frame .rectangle-3 {
  position: relative;
  width: 1280px;
  height: 280px;
  background-color: #000000;
}

.frame .div-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: absolute;
  top: 57px;
  left: 97px;
}

.frame .div-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 160px;
  position: relative;
  flex: 0 0 auto;
}

.frame .mask-group-2 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 180px;
}

.frame .div-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.frame .rectangle-4 {
  position: relative;
  width: 240px;
  height: 29px;
  background-color: #d9d9d9;
  border-radius: 16px;
}

.frame .rectangle-5 {
  position: absolute;
  width: 97px;
  height: 29px;
  top: 0;
  left: 0;
  background-color: #361cd1;
  border-radius: 16px;
}

.frame .rectangle-6 {
  width: 134px;
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  background-color: #361cd1;
  border-radius: 16px;
}

.frame .rectangle-7 {
  width: 59px;
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  background-color: #361cd1;
  border-radius: 16px;
}

.frame .rectangle-8 {
  width: 48px;
  position: absolute;
  height: 29px;
  top: 0;
  left: 0;
  background-color: #361cd1;
  border-radius: 16px;
}

.frame .text-wrapper-3 {
  position: absolute;
  width: 350px;
  top: 19px;
  left: 113px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .down-2 {
  position: absolute;
  width: 137px;
  height: 109px;
  top: 13px;
  left: 463px;
  object-fit: cover;
}

.frame .rectangle-9 {
  position: relative;
  width: 1280px;
  height: 432px;
  background-color: #000000;
}

.frame .div-7 {
  display: inline-flex;
  align-items: flex-end;
  gap: 100px;
  position: absolute;
  top: 60px;
  left: 136px;
}

.frame .mask-group-3 {
  position: relative;
  width: 300px;
  height: 300px;
}

.frame .div-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-4 {
  position: relative;
  width: 673px;
  height: 45px;
  margin-top: -1px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  position: relative;
  width: 431px;
  height: 45px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-6 {
  position: relative;
  width: 635px;
  height: 173px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-10 {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 66px;
  left: 136px;
}

.frame .analysis-and {
  position: relative;
  width: 635px;
  height: 157px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-11 {
  display: inline-flex;
  align-items: flex-start;
  gap: 100px;
  position: absolute;
  top: 60px;
  left: 136px;
}

.frame .text-wrapper-7 {
  position: relative;
  width: 548px;
  height: 45px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .receive-and-refer {
  position: relative;
  width: 635px;
  height: 201px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-8 {
  position: relative;
  width: 635px;
  height: 123px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-13 {
  display: inline-flex;
  align-items: center;
  gap: 100px;
  position: absolute;
  top: 60px;
  left: 136px;
}

.frame .div-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-9 {
  position: relative;
  width: 716px;
  height: 42px;
  margin-top: -1px;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-10 {
  position: relative;
  width: 186px;
  height: 28px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-11 {
  position: relative;
  width: 697px;
  height: 45px;
  margin-top: -1px;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-12 {
  position: relative;
  width: 635px;
  height: 91px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-15 {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 63px;
  left: 123px;
}

.frame .text-wrapper-13 {
  position: relative;
  width: 635px;
  height: 146px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-16 {
  display: inline-flex;
  align-items: flex-start;
  gap: 100px;
  position: absolute;
  top: 65px;
  left: 136px;
}

.frame .div-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-14 {
  position: relative;
  width: 635px;
  height: 145px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-15 {
  position: absolute;
  width: 675px;
  top: 19px;
  left: 113px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .down-3 {
  top: 12px;
  left: 801px;
  position: absolute;
  width: 137px;
  height: 109px;
  object-fit: cover;
}

.frame .div-19 {
  display: inline-flex;
  align-items: center;
  gap: 64px;
  position: absolute;
  top: 44px;
  left: 229px;
}

.frame .mask-group-4 {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 180px;
}

.frame .div-20 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-16 {
  position: relative;
  width: 673px;
  height: 45px;
  margin-top: -1px;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-17 {
  position: relative;
  width: 635px;
  height: 87px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-21 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  top: 44px;
  left: 229px;
}

.frame .div-22 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-18 {
  position: absolute;
  width: 245px;
  top: 19px;
  left: 113px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .down-4 {
  top: 12px;
  left: 346px;
  position: absolute;
  width: 137px;
  height: 109px;
  object-fit: cover;
}

.frame .text-wrapper-19 {
  position: relative;
  width: 635px;
  height: 87px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}
