.certifications {
  display: flex;
  margin: auto;
}

.certifications .image {
  width: 180px;
  height: 180px;
}

.certifications .title {
  width: 673px;
  height: 45px;
  color: #f1f1f1;
  font-size: 32px;
}

.texts {
  margin-bottom: 48px;
}

.certifications .button-link {
  z-index: 1;
  border-radius: 16px;
  background: #361DD1;
  display: flex;
  padding: 16px 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.certifications .button-link:hover {
  background: #f1f1f1;
  .text-link {
    color: #361DD1;
  }
}

.certifications .text-link {
  margin-top: -8px;
  margin-bottom: -8px;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
}
