<div class="dropdown">
  <div class="text-dropdown">Certifications</div>
  <img (click)="toggle()" class="down" id="certification-dropdown" src="../assets/img/down.png"/>
</div>

<div [@openClose]="state ? 'open' : 'closed'">
  <div class="certifications">
    <div class="items">
      <div class="content" [@changeContent]="this.contentChange.changeView ? 'in' : 'out'"
           (@changeContent.start)="this.contentChange.actualContent = this.homeService.onAnimationEvent(
           this.contentChange)">
        <img class="image" src="{{ content.at(contentChange.actualContent)?.imgSource }}"/>
        <div class="texts">
          <div class="title">{{ content.at(contentChange.actualContent)?.title }}</div>
          <a class="button-link" target="_blank" href="{{ content.at(contentChange.actualContent)?.subtitle }}">
            <p class="text-link">See Credentials</p>
          </a>
        </div>
      </div>

      <div class="outer-indicator">
        <img class="arrow" (click)="changeControl('left')" src="../assets/img/left.png"/>
        <div class="inner-indicator" *ngFor="let i of content">
          <ng-container *ngIf="content[contentChange.actualContent] == i; then bigCircle; else tinyCircle"></ng-container>
          <ng-template #bigCircle>
            <img src="../assets/img/big-circle.png"/>
          </ng-template>
          <ng-template #tinyCircle>
            <img src="../assets/img/tiny-circle.png"/>
          </ng-template>
        </div>
        <img class="arrow" (click)="changeControl('right')" src="../assets/img/right.png"/>
      </div>

    </div>
  </div>
</div>
