.aboutme {
  display: flex;
  margin: auto;
}

.aboutme .items {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.aboutme .image {
  border-radius: 180px;
  width: 360px;
  height: 360px;
}

.aboutme .text_container {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.aboutme .title {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 32px;
  font-style: normal;
  //font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 45px;
}

.aboutme .text {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  //font-weight: 400;
  line-height: normal;
  width: 635px;
  height: 337px;
}
