<div class="dropdown" >
  <div class="text-dropdown">About me</div>
  <img (click)="toggle()" id ="arrow" class="down" src="../assets/img/down.png"/>
</div>

<div [@openClose]="state ? 'open' : 'closed'">
  <div class="aboutme">
   <div class="items">
     <img class="image" src="../assets/img/perfil.png" />
      <div class="text_container">
       <p class="tittle">26 YEARS OLD | São Paulo - SP</p>
       <p class="text">
        I am always doing something for the first time. I am passionate about learning new things and putting
        myself in unexplored situations, it brings me the feeling of constantly evolving. <br /><br />I have very
        varied employment and training experiences. This is one of my greatest strengths: as well as adapting
        easily to different scenarios, I also bring with me the ability to deal with very different people and
        situations, as I have learned from these experiences.<br /><br />I am an enthusiast of user-centered
        methodologies such as Design Thinking and am interested in all phases of software development. I&#39;m
        currently studying for the Oracle 1z0-819 certification, as I want to consolidate myself in the market as
        a Java developer.
      </p>
    </div>
  </div>
</div>
</div>
