.experience {
  transition-duration: 1s;
  display: flex;
  margin: auto;
}

.experience .items {
  margin: auto;
  display: inline;
  align-items: flex-end;
  gap: 100px;
}

.experience .content {
  margin: auto;
  display: inline-flex;
  align-items: flex-end;
  gap: 100px;
}

.experience .image {
  width: 360px;
  height: 360px;
  border-radius: 180px;
}

.experience .texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience .title {
  transition-duration: 1s;
  font-family: "Inria Sans-Regular", Helvetica;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  margin: 0px;
}

.experience .subtitle {
  font-family: "Inria Sans-Regular", Helvetica;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  margin: 0px;

}

.experience .text {
  width: 635px;
  height: 173px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.experience .outer-indicator {
  display: flex;
  align-items: center;
  gap: 43px;
  justify-content: center;
  margin-top: 28px;
}

.experience .inner-indicator{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
