<div class="dropdown">
  <div class="text-dropdown">Experience</div>
  <img (click)="toggle()" class="down" id="experience-dropdown" src="../assets/img/down.png"/>
</div>

<div [@openClose]="state ? 'open' : 'closed'">
  <div class="experience">
    <div class="items">
      <div class="content" [@changeContent]="changeView ? 'in' : 'out'"
           (@changeContent.start)="onAnimationEvent($event)">
        <img class="image" src="{{content.at(actualContent)?.imgSource}}"/>
        <div class="texts">
          <p class="title">{{content.at(actualContent)?.title}}</p>
          <div class="subtitle">{{content.at(actualContent)?.subtitle}}</div>
          <p class="text">
            {{content.at(actualContent)?.text}}
          </p>
        </div>
      </div>

      <div class="outer-indicator">
        <img (click)="leftControl()" src="../assets/img/left.png"/>
        <div class="inner-indicator" *ngFor="let i of content">
          <ng-container *ngIf="content[actualContent] == i; then bigCircle; else tinyCircle"></ng-container>
          <ng-template #bigCircle>
            <img src="../assets/img/big-circle.png"/>
          </ng-template>
          <ng-template #tinyCircle>
            <img src="../assets/img/tiny-circle.png"/>
          </ng-template>
        </div>
        <img (click)="rightControl()" src="../assets/img/right.png"/>
      </div>
    </div>

  </div>
</div>

