.dropdown {
  display: flex;
  margin: 40px auto;
  margin-left: 80px;
}

.dropdown .text {
  width: 334px;
  top: 19px;
  left: 113px;
  font-family: "Inria Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.dropdown .down {
  top: 13px;
  left: 44px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
